########################################
#### IDE specific rules:
########################################
.classpath
.project
.settings/
target/
*.iml
*.idea/
logs/*
.mvn/*

#######
#################################
#### OSX/Finder:
########################################
.DS_Store
*.DS_Store